@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1280px;
}

/* scroll bar styles */

body::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background: #e0e4fa; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #57cc99; /* color of the scroll thumb */
}
